
body{

    background-image: linear-gradient(to bottom,#fff 0,#f8f8f8 100%);
}
/*menu*/
header {margin:0 0 0 0;  width:100%; background-color:#322117; position:fixed;
    z-index:10 !important;}
header {
    height: 70px;
    /*position: relative;*/
    background-color: #fff;
    /*border-bottom: 5px solid #E4D2B6;*/
}
header h1 {
    line-height: 60px;
}

.navbar-default{
    background-image: linear-gradient(to bottom,#fff 0,#fff 100%);
}

.logo{
    background-image: url('../images/mb.png');
    background-repeat: no-repeat;
    text-indent: -9000px;
    margin-left: 40px;
    margin-top:5px;
}

.navbar-brand {
    float: left;
    height: 70px;
    padding: 5px 15px;
    font-size: 18px;
    line-height: 43px;
}

.container{
    padding-top: 85px;
}


/****  Para el PYB **/
.gridFeatures{
    border:0px solid #CCC;
    width:1000px;

}
.gridFeatures ul
{
    list-style: none;
    margin: 0 0 0 0;
    padding: 0 0 0 0;

}
.gridFeatures li a{
    text-decoration:none;
}
.gridFeatures li{
    /*border-right: 1px  dashed #dedede;
    border-bottom: 1px dashed #dedede;*/
    float: left;
    height: auto;
    position: relative;
    text-align: left;
    width: 200px;
    padding: 3px 0 0 0;
}

.caja_seleccion
{

    height:40px;
    font-family:Arial;
    font-size:18px;
    border: 1px solid #eee;
    padding: 8px 10px;
    margin:3px;
}
.big
{
    width:375px;
}

.caja_registro
{
    height:40px;
    font-family:Arial;
    font-size:18px;
    padding: 8px 10px;
    margin:3px;
    border: 1px solid #eee;
}

/* Fotos*/
.custom-input-file {
    overflow: hidden;
    position: relative;
    cursor: pointer;
    /*background-color:#E88435;
    background-image:-webkit-linear-gradient(top, #E88435, #E88435);*/
    border:1px solid #F1F1F1;
    width: 130px;
    height: 100px;
}
.custom-input-file .input-file {
    margin: 0;
    padding: 0;
    outline: 0;
    font-size: 10000px;
    border: 10000px solid transparent;
    opacity: 0;
    filter: alpha(opacity=0);
    position: absolute;
    right: -1000px;
    top: -1000px;
    cursor: pointer;

}

.btn_foto
{
    background-color:#E88435;
    background-image:-webkit-linear-gradient(top, #E88435, #E88435);
    border:1px solid #E88435;
    color:#FFF;
    border-bottom-left-radius:2px;
    border-bottom-right-radius:2px;
    border-top-left-radius:2px;
    border-top-right-radius:2px;
    cursor:pointer;
    font-size:16px;
    font-weight:bold;
    height:24px;
    line-height:27px;
    margin-right:15px;
    margin-top:15px;
    margin-left:20px;
    min-width:54px;
    outline:0;
    padding:0 8px;
    text-align:center;
    /*white-space:nowrap;*/
    display:inline-block;
    position:relative;
    width: 130px;
    height: 100px;
}

/*footer*/
footer {
    background-color: #333333;
}
.foo_up {
    background-color: #231F20;
    padding: 10px 2%;
    display: inline-block;
    width: 100%;
    color: #FFF;
}
.foo_down {
    padding: 20px 2%;
    display: inline-block;
    width: 96%;
    color:#ffffff;
}
.foo_icons, .copyright {
    float:left;
}
.foo_nav {
    float:right;
    padding-top: 7px;
}
.foo_cont {
    float: right;
    color: #fff;
    margin-top: 5px;
}
.foo_icons li{
    display: inline;
    margin-right:20px;
}
.foo_nav li {
    display: inline;
    margin-left:20px;
}


@media only screen and (max-width: 780px) {
    header {
        height: 65px;
        z-index: 2;
        background-color: #060a0c;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        -webkit-transform: translate3d(0,0,0);
        -moz-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }

    header h1 {
        color: #ffffff;
        text-align: center;
        padding-left: 0;
        display: block;
        float: right;
        width: 215px;
    }

    /*Content Sliding Open Effect*/
    header.open, .content.open {
        -webkit-transform: translate3d(300px,0,0);
        -webkit-animation: open .5s ease-in-out;
        -moz-transform: translate3d(300px,0,0);
        -moz-animation: open .5s ease-in-out;
        transform: translate3d(300px,0,0);
        animation: open .5s ease-in-out;
    }

}

@media screen and (max-width: 320px) {
    /*body{background-color:purple;}*/
    .logo{
        background-image: url('../images/mb_min.png');
        width: 65px;
        margin-top:5px;
    }
}
